@font-face {
  font-family: graphik-medium;
  src: url(../../public/fonts/GraphikLCG-Medium.woff2);
}
@font-face {
  font-family: graphik-regular;
  src: url(../../public/fonts/GraphikLCG-Regular.woff2);
}
html,
body {
  font-size: 14px;
  font-style: normal;
  font-family: graphik-regular, Arial, sans-serif;
  font-display: swap;
}

@media (min-width: 1440px) {
  html,
  body {
    font-size: 16px;
    letter-spacing: -3%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: graphik-medium, Arial, sans-serif;
  font-display: swap;
}

h1 {
  font-size: 5.65rem;
  line-height: 5.5rem;
  letter-spacing: -0.35rem;
}
h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.2rem;
}
h3 {
  font-size: 3rem;
  line-height: 2.5rem;
  letter-spacing: -0.2rem;
}
h4 {
  font-size: 2rem;
  line-height: 2.25rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.font-medium {
  font-family: graphik-medium, Arial, sans-serif;
  font-display: swap;
}
@media (max-width: 750px) {
  h1 {
    font-size: 2.6rem;
  }
}
