@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  overflow-x: hidden;
  color: #191b1d;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
.text-black{
  color: #191b1d;
}
.bg-black{
  background-color: #191b1d;
  color: white;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.h-screen {
  height: 100vh !important;
  height: 100svh !important;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  max-width: 1920px;
  margin-inline: auto;
}
.padding {
  padding-inline: 1rem;
}
@media (min-width: 1020px) {
  .padding {
    padding-inline: 2rem;
  }
  .container {
    padding-inline: 2rem;
  }
}
@media (min-width: 1440px) {
  .padding {
    padding-inline: 6rem;
  }
  .container {
    padding-inline: 6rem;
  }
}
