.arc {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
}

.arc_container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.arc_item {
  position: absolute;
  right: 16rem;
  top: 50%;
  --rel-index: calc(var(--index) - var(--progress) * (var(--total-items) - 1));

  --radius: 35rem;
  --theta: calc(var(--rel-index) * 12deg);
  --x: calc(var(--radius) * (1 - cos(var(--theta))));
  --y: calc(var(--radius) * sin(var(--theta)));

  transform: translate(var(--x), calc(-50% + var(--y)))
    rotate(calc(-1 * var(--theta)));

  transform-origin: center right;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  white-space: nowrap;
  transition:
    color 0.3s ease,
    transform 0.1s linear;

  will-change: transform;
}

.night_bg {
  background: radial-gradient(
    102.82% 106.44% at 50% 106.44%,
    #fcfdfe 1.11%,
    #6763e4 28.73%,
    #453bb3 45.76%,
    #29227d 63.37%,
    #1e2064 78.67%,
    #141e4b 100%
  );
}
.pre-dawn_bg {
  background: radial-gradient(
    103.24% 102.63% at 50% 102.63%,
    #486ffd 0,
    #7f81f3 9.84%,
    #c489ff 20.83%,
    #dac0ff 34.13%,
    #eadcff 44.86%,
    #f9f6ff 58.59%,
    #f8fafd 100%
  );
}
.sunset_bg {
  background: radial-gradient(
    103.12% 100% at 50% 100%,
    #ffa577 0,
    #ff90a1 15.52%,
    #ddadff 30.09%,
    #ecd8ff 45.72%,
    #f5eaff 54.96%,
    #f8fafd 88.16%
  );
}

.footer_mask_img {
  -webkit-mask-image: radial-gradient(#000 0, #000 30%, transparent 75%);
  mask-image: radial-gradient(#000 0, #000 30%, transparent 75%);
}
